<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Fibonacci</display-name>
    <servlet-name>Fibonacci</servlet-name>
    <servlet-class>fibonacci.Fibonacci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonacci</servlet-name>
    <url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
  <display-name>webDevelopment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>password.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighLow</display-name>
    <servlet-name>HighLow</servlet-name>
    <servlet-class>highLowGame.HighLow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighLow</servlet-name>
    <url-pattern>/HighLow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiLoServlet</display-name>
    <servlet-name>HiLoServlet</servlet-name>
    <servlet-class>com.learning.hello.HiLoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiLoServlet</servlet-name>
    <url-pattern>/HiLoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Odometer</display-name>
    <servlet-name>Odometer</servlet-name>
    <servlet-class>odometer.Odometer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Odometer</servlet-name>
    <url-pattern>/Odometer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdometerServlet</display-name>
    <servlet-name>OdometerServlet</servlet-name>
    <servlet-class>odometer.OdometerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdometerServlet</servlet-name>
    <url-pattern>/OdometerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdometerServ</display-name>
    <servlet-name>OdometerServ</servlet-name>
    <servlet-class>com.learning.hello.OdometerServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdometerServ</servlet-name>
    <url-pattern>/OdometerServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MangathaGame</display-name>
    <servlet-name>MangathaGame</servlet-name>
    <servlet-class>com.learning.hello.MangathaGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangathaGame</servlet-name>
    <url-pattern>/MangathaGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MangathaGameServlet</display-name>
    <servlet-name>MangathaGameServlet</servlet-name>
    <servlet-class>com.learning.hello.MangathaGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangathaGameServlet</servlet-name>
    <url-pattern>/MangathaGameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeBoardServlet</display-name>
    <servlet-name>NoticeBoardServlet</servlet-name>
    <servlet-class>noticeBoard.NoticeBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeBoardServlet</servlet-name>
    <url-pattern>/NoticeBoardServlet</url-pattern>
  </servlet-mapping>
</web-app>